.App {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  display: flex;
  flex-direction: column;
}

.app_header {
  display: flex;
  grid-column: 1 / span 2;
  font-size: 150%;
  font-weight: bold;
  margin: 15px;
  justify-content: center;
}

.business {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
  background-color: linen;
  padding: 8px;
  text-align: left;
  border-radius: 15px;
}

.business_name {
  font-weight: bold;
  font-size: 120%;
}

.business_address {
  font-style: italic;
}

.business_image {
  padding: 10px;
}